#root {
  margin: 0 auto;
  padding: 2rem;
  font-family: Helvetica;
  width: 8.5in;
}
body {
  margin: 0;
  background: #222222;
  color: white;
}
a,
a:visited {
  color: #1394ff;
}
a:hover {
  color: #5db5ff;
}

button {
  font-size: 1.3rem;
  cursor: pointer;
  background: #333;
  color: white;
  transition: background 0.3s;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  text-align: center;
}
