@media print {
  #controls {
    display: none !important;
  }
    #import_export {
      display: none !important;
    }
}
button,
#label_for_input_file {
  font-size: 1.3rem;
  cursor: pointer;
  background: #333;
  color: white;
  transition: background 0.3s;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  text-align: center;
}
button:hover,
#label_for_input_file:hover {
  background: #444;
}

#reorder {
  font-size: 1.3rem;
}
#config_buttons {
  font-size: 1.3rem;
}
#import_buttons,
#export_buttons {
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
}
#import_export {
  display: flex;
  flex-direction: row;
  width: 8.5in;
  gap: 0.4rem;
  margin-top: 1.4rem;
}
#controls {
  display: grid;
  grid-template-columns: 4fr 5fr;
  margin-bottom: 0.5in;
  align-items: start;
  gap: 2rem;
  width: 8.5in;
}
#add_section {
  margin-right: 0.5rem;
}
