.dragHandle {
  cursor: pointer;
  user-select: none;
}
.draggable_hidden {
  color: #888888;
}
.draggable_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}
.draggable_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
}
.draggable_item > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.draggable_header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
