.experience {
  border-radius: 0.4rem;
  transition: 0.2s background;
  padding: 0.03in;
}
div:not(.locked) > .experience {
  cursor: pointer;
  user-select: none;
}
div:not(.locked) > .experience:hover {
  background: #e8e8e8;
}
.experience_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title_wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.1in;
  align-items: center;
}
.title {
  font-size: 1.1em;
  font-weight: bold;
}

.subtitle {
  font-style: italic;
}
.body {
  padding-left: 0.3in;
}
