@media print {
  #resume {
    width: 100% !important;
    height: 100% !important;
  }
}
@media screen {
  #resume {
    width: 8.5in;
    min-height: 11in;
    border-radius: 5px;
    background: #ffffff;
    padding: 0.5in;
  }
}
ul {
  margin: 0;
}
#secret_resume {
  box-sizing: border-box;
  padding: 0.5in;
  border-radius: 5px;
  background: #ffffff;
  color: #000;
  margin-top: 0.8in;
  width: 8.5in;
}
#resume {
  box-sizing: border-box;
  color: #000;
}
.columns_wrapper {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 0.2in;
}
